<h1><%= @trip.name %></h1>

<% if @trip.trails.empty? %>
  <h2>There are no trails at this time.</h2>
<% else %>
  <% @trip.trails.each do |trail| %>
    <section id="trail-<%= trail.id %>">
      <p>Name: <%= link_to trail.name, "/trails/#{trail.id}" %></p>
      <p>Address: <%= trail.address %></p>
      <p>Length: <%= trail.length %></p>
    </section>
  <% end %>

  <section class="stats">
    <p>Total Distance of All Trails: <%= @trip.total_trail_distance %></p>
    <p>Average Distance of all trails: <%= @trip.average_trail_distance.round(1) %></p>
  </section>

  <section class="longest-trail">
    <h2>Longest Trail on Trip:</h2>
    <p><%= link_to @trip.longest_trail.name, "/trails/#{@trip.longest_trail.id}" %> - <%= @trip.longest_trail.length %> miles</p>
  </section>
  <section class="shortest-trail">
    <h2>Shortest Trail on Trip:</h2>
    <p><%= link_to @trip.shortest_trail.name, "/trails/#{@trip.shortest_trail.id}" %> - <%= @trip.shortest_trail.length %> miles</p>
  </section>
<% end %>
